[Unit]
Description=Plex Media Server
Wants=network-online.target
After=network-online.target
After=local-fs.target
After=var-truenas.mount

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
AutoUpdate=registry

EnvironmentFile=/var/lib/plexmediaserver/plex.env
Environment=VERSION=docker

Network=host

AddDevice=nvidia.com/gpu=all

Volume=/var/config/plexmediaserver:/config
Volume=/var/truenas:/truenas
Tmpfs=/transcode

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
