[Unit]
Description=Unmanic
Wants=network-online.target
After=network-online.target
After=local-fs.target
After=var-mnt-atlas.mount
After=zfs.target

[Container]
ContainerName=unmanic
Image=docker.io/josh5/unmanic:latest
AutoUpdate=registry

PublishPort=8888:8888/tcp
Environment=PUID=1000
Environment=PGID=1000
AddDevice=nvidia.com/gpu=all

Volume=/mnt/tank/apps/unmanic:/config
Volume=/mnt/atlas:/truenas
Volume=/var/unmanic/tmp:/tmp/unmanic

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
