[Unit]
Description=Bazarr Subtitle Manager
Wants=network-online.target
After=network-online.target
After=var-truenas.mount

[Container]
ContainerName=bazarr
Image=docker.io/linuxserver/bazarr:latest
AutoUpdate=registry

Label=caddy.subdomain=bazarr
Label=caddy.port=6767

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

PublishPort=6767:6767

Volume=/var/lib/bazarr:/config
Volume=/var/truenas:/truenas

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
