[Unit]
Description=Bazarr Subtitle Manager
Wants=network-online.target
After=network-online.target
After=var-truenas.mount

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
AutoUpdate=registry

Environment=UMASK_SET=022
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

Volume=/var/config/bazarr:/config
Volume=/var/truenas/media:/media

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
