[Unit]
Description=Prowlarr Indexer Manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry

Label=caddy.subdomain=prowlarr
Label=caddy.port=9696

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

PublishPort=9696:9696

Volume=/var/lib/prowlarr:/config

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
