[Unit]
Description=Radarr Movie Manager
Wants=network-online.target
After=network-online.target
After=var-truenas.mount

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry

Label=caddy.port=7878

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

Network=caddy.network

Volume=/var/lib/radarr:/config
Volume=/var/truenas:/truenas

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
