[Unit]
Description=SABnzbd Usenet Downloader
Wants=network-online.target
After=network-online.target
After=var-truenas.mount

[Container]
ContainerName=sabnzbd
Image=lscr.io/linuxserver/sabnzbd:latest
AutoUpdate=registry

Label=caddy.port=8080

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

Network=caddy.network

Volume=/var/config/sabnzbd:/config
Volume=/var/truenas:/truenas

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
