[Unit]
Description=Sonarr TV Series Manager
Wants=network-online.target
After=network-online.target
After=var-truenas.mount

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry

Label=caddy.port=8989

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Los_Angeles

Network=caddy.network

Volume=/var/lib/sonarr:/config
Volume=/var/truenas:/truenas

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
