[Unit]
Description=Xen Orchestra Web UI
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=xen
Image=docker.io/ronivay/xen-orchestra:latest
AutoUpdate=registry

Label=caddy.port=8080

Network=caddy.network

Volume=/var/config/xen/server:/var/lib/xo-server
Volume=/var/config/xen/redis:/var/lib/redis

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
