[Unit]
Description=Plex Media Server
Wants=network-online.target
After=network-online.target
After=local-fs.target
After=var-mnt-atlas.mount
After=zfs.target

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
AutoUpdate=registry

EnvironmentFile=/mnt/tank/apps/plex/plex.env
Environment=VERSION=docker

Network=host

AddDevice=nvidia.com/gpu=all

Volume=/mnt/tank/apps/plex:/config
Volume=/mnt/atlas:/truenas
Tmpfs=/transcode

SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
